USE [master]
GO
/****** Nesnesi: Database [DriverDrowDB] Betik Tarihi: 18.04.2026 21:24:51 ******/
CREATE DATABASE [DriverDrowDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DriverDrowDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DriverDrowDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DriverDrowDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DriverDrowDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DriverDrowDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DriverDrowDB]
GO
/****** Nesnesi: Table [dbo].[DrivingSessions] Betik Tarihi: 18.04.2026 21:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DrivingSessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[AverageFatigue] [int] NULL,
	[SleepDuration] [int] NULL,
	[YawnCount] [int] NULL,
	[Score] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Users] Betik Tarihi: 18.04.2026 21:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DrivingSessions] ON 

INSERT [dbo].[DrivingSessions] ([Id], [UserId], [StartTime], [EndTime], [AverageFatigue], [SleepDuration], [YawnCount], [Score]) VALUES (1, 1, CAST(N'2026-03-01T08:30:00.000' AS DateTime), CAST(N'2026-03-01T09:15:00.000' AS DateTime), 5, 0, 0, 100)
INSERT [dbo].[DrivingSessions] ([Id], [UserId], [StartTime], [EndTime], [AverageFatigue], [SleepDuration], [YawnCount], [Score]) VALUES (2, 1, CAST(N'2026-03-01T18:00:00.000' AS DateTime), CAST(N'2026-03-01T18:45:00.000' AS DateTime), 12, 0, 1, 92)
INSERT [dbo].[DrivingSessions] ([Id], [UserId], [StartTime], [EndTime], [AverageFatigue], [SleepDuration], [YawnCount], [Score]) VALUES (3, 1, CAST(N'2026-03-02T07:45:00.000' AS DateTime), CAST(N'2026-03-02T08:30:00.000' AS DateTime), 35, 2, 3, 75)
SET IDENTITY_INSERT [dbo].[DrivingSessions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [CreatedAt]) VALUES (1, N'Emre Dönmez', N'test@gmail.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', CAST(N'2026-03-02T21:16:51.450' AS DateTime))
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [CreatedAt]) VALUES (2, N'Mustafa Aslan', N'mustafa45@gmail.com', N'0caaf6998c931522eeba7f3d66641903e4e883802900af69d5b73048dfc59d64', CAST(N'2026-03-02T21:47:55.050' AS DateTime))
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [CreatedAt]) VALUES (3, N'seyit tas', N'seyit@gmail.com', N'4b613c24d52c059f33e782b8ab982e79a87542f83c5492e4c3140d5e6a92e85d', CAST(N'2026-03-02T23:47:36.227' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DrivingSessions]  WITH CHECK ADD  CONSTRAINT [FK_DrivingSessions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[DrivingSessions] CHECK CONSTRAINT [FK_DrivingSessions_Users]
GO
USE [master]
GO
